body{

background-color: bisque;
}

h1{

    background-color:maroon;
    color:white;
}

h2{ 
 color: maroon;
 border: 2px solid purple; 
 display: inline-block;
 padding: 5px;
}

ul{
    list-style: circle inside ;
    
}


h3{

    border: 2px solid maroon; 
    color: purple;
    padding: 4px;
   

}

ol{

    list-style-position: inside;
}

ol>li{
    color:brown;

}

.border-style-dotted{

    border-style:dotted;
}

.border-style-inline{
    display: inline;
}

header{
    width: 100%;
}

.center-item{

    margin:auto;
    display:block;

}