body{

background-color: bisque;
}

h1{

    background-color:maroon;
    color:white;
}

h2{ 
 color: maroon;
}

ul{
    list-style: circle inside ;
}


h3{

    border: 2px solid maroon; 
    color: purple;
}

ol{

    list-style-position: inside;
}
